*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(182, 146, 197);
}

ul{
    display: flex;
    list-style: none;
    margin:0;
    justify-content: flex-end;
}

ul li{
    padding: 30px;
}

#About{
    height: 100vh;
}

.hero{
    width: 500px;
    height: auto;

}

.hero img{
    width: 100%;
    height: auto;
}

#TheWork{
    display: flex;
    justify-content: center;
    flex: 0 0 100%;
    height: 100vh;
}

.thumnail{
    width: 100%;
}


.thumnail input[type="radio"]{
    width:60px;
    height: 60px;
    display: inline-block;

    outline: none;
    appearance: none;
    cursor: pointer;
    margin: 0 10px 0 0;
}

.thumnail input[type="radio"]:hover{
    transform: scale(1.1);

}

#one{
    background-image:url(website1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#two{
    background-image:url(website2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#three{
    background-image:url(SL_030420_28660_03.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.largeImage{
    width: 700px;
    height: 700px;
    margin: 20px 0 0 0;
}

#one:checked ~ .largeImage{
    background-image:url(website1.png);
    background-size: contain;
    background-repeat: no-repeat;    
}

#two:checked ~ .largeImage{
    background-image:url(website2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#three:checked ~ .largeImage{
    background-image:url(SL_030420_28660_03.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

footer{
    background-color: rgb(182, 146, 197);
}

footer ul{
    display: flex;
    flex-wrap: wrap;
}

#contacts{
    height: 100vh;
}
